---
import { Image } from "astro:assets";

import AuthorSingle from "@layouts/AuthorSingle.astro";
import Base from "@layouts/Base.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import dateFormat from "@lib/utils/dateFormat";

import { sortByDate } from "@lib/utils/sortFunctions";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCalendar, BiCategoryAlt } from "react-icons/bi/index.js";
import SimilarPosts from "@components/SimilarPosts.astro";

export async function getStaticPaths() {
  const authors = await getSinglePage("authors");

  const paths = authors.map((author: any) => ({
    params: {
      single: author.slug,
    },
    props: { author },
  }));
  return paths;
}

const { author } = Astro.props;
const { title, meta_title, description, image } = author.data;

// Author Posts
const posts = await getSinglePage("posts");
const sortPostsByDate = sortByDate(posts);
const currentPosts = sortPostsByDate.filter((post) => {
  return post.data.authors
    .map((author: string) => slugify(author))
    .includes(slugify(title));
});
//const postImages = import.meta.glob<{ default: ImageMetadata }>(
//  "/src/assets/images/posts/*/*.{jpeg,jpg,png,gif,webp}"
//);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <AuthorSingle author={author} />

  {
    currentPosts.length > 0 && (
      <section class="section pt-0">
        <div class="container">
          <h1 class="h3 mb-8 text-center uppercase font-light">Articles recents</h1>
          <SimilarPosts posts={currentPosts.slice(0, 4)} />
        </div>
      </section>
    )
  }
</Base>
