---
import { Image } from "astro:assets";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";
const { posts } = Astro.props;
---

<div class="similar-posts-grid">
  {
    posts.map((post: any, i: number) => (
      <article class="similar-post-item">
        {post.data.image && (
          <a
            href={`${import.meta.env.BASE_URL}${post.slug}`}
            class="similar-post-card group"
          >
            <div class="similar-post-image-container">
              <Image
                class="similar-post-image"
                src={post.data.image}
                alt={post.data.title}
                width={445}
                height={230}
              />
              <div class="similar-post-overlay">
                <span class="similar-post-read-more">Llegir més</span>
              </div>
            </div>
            
            <div class="similar-post-content">
              <div class="similar-post-meta">
                <div class="similar-post-categories">
                  <BiCategoryAlt className="similar-post-icon" />
                  <div class="similar-post-category-list">
                    {post.data.categories.map((category: string, i: number) => (
                      <span class="similar-post-category">
                        {humanize(category)}{i !== post.data.categories.length - 1 && ","}
                      </span>
                    ))}
                  </div>
                </div>
              </div>
              
              <h3 class="similar-post-title">
                {post.data.title}
              </h3>
              
              {post.data.description && (
                <p class="similar-post-excerpt">
                  {post.data.description}
                </p>
              )}
            </div>
          </a>
        )}
      </article>
    ))
  }
</div>
