---
import { Image } from "astro:assets";
import config from "@config/config.json";
import { getSinglePage } from "@lib/contentParser.astro";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt, BiCalendar } from "react-icons/bi/index.js";

const authors = await getSinglePage("authors");
const { summary_length } = config.settings;

interface Props {
  className?: string;
  posts: any;
  fluid?: boolean;
}

const { className, posts, fluid } = Astro.props;
---

<div
  class="columns-1 sm:columns-2 lg:columns-3 mb-8 text-center gap-6"
>
  {
    posts.map((post: any, i: number) => (
      <div class="inline-block py-1.5">
        {post.data.image && (
          <a href={`${import.meta.env.BASE_URL}${post.slug}`} class="group">
            <div class="overflow-hidden rounded m-1 border border-solid border-neutral-200 dark:border-neutral-800">
              <Image
                class="h-auto max-w-full max-h-56 transition duration-300 md:group-hover:scale-[1.05] object-cover dark:opacity-90"
                src={post.data.image}
                alt={post.data.title}
                width="400"
              />
            </div>
            <ul class="mt-3 flex flex-wrap items-center justify-center text-xs font-light">
              <li class="mr-4 flex flex-wrap items-center">
                <BiCalendar className="pr-1 h-[18px] w-[18px]" />
                <>{dateFormat(post.data.date)}</>
              </li>
              <li class="flex flex-wrap items-center">
                <BiCategoryAlt className="h-[18px] w-[18px] pr-1" />
                  <ul>
                    {post.data.categories.map((category: string, i: number) => (
                      <li class="inline-block mr-1">
                          {humanize(category)}{i !== post.data.categories.length - 1 && ","}
                      </li>
                    ))}
                  </ul>
              </li>
            </ul>
            <h3 class={`text-center my-1.5 text-xl group-hover:text-primary duration-300`}>
              {post.data.title}
            </h3>
            <p class="text-center px mb-8 sm:mb-5 text-sm">
              {post.data.description
                ? post.data.description
                : post.body?.slice(
                    0,
                    Number(i < 2 && fluid != false ? summary_length * 2 : summary_length)
                  ) + "..."}
            </p>
          </a>  // end of post anchor
        )}
      </div>
    ))
  }
</div>
