---
import { Image } from "astro:assets";
import config from "@config/config.json";
import { getSinglePage } from "@lib/contentParser.astro";
//import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";

const authors = await getSinglePage("authors");
const { summary_length } = config.settings;

interface Props {
  className?: string;
  posts: any;
  fluid?: boolean;
}

const { className, posts, fluid } = Astro.props;
---

<div
  class="columns-1 sm:columns-2 md:columns-3 mb-8"
>
  {
    posts.map((post: any, i: number) => (
      <div class="inline-block py-2">
        {post.data.image && (
          <a
            href={`${import.meta.env.BASE_URL}${post.slug}`}
            class="group sm:rounded-md"
          >
            <div class="overflow-hidden rounded-lg">
            <Image
              class="h-auto max-w-full transition duration-300 group-hover:scale-[1.05] object-cover"
              src={post.data.image}
              alt={post.data.title}
              width="400"
            />
            </div>
            <h3 class={`text-center mt-2 text-xl group-hover:text-primary`}>

            {post.data.title}
        </h3>
        <p class="text-center px-2 mb-6 sm:mb-2">
          {post.data.description
            ? post.data.description
            : post.body?.slice(
                0,
                Number(i < 2 && fluid != false ? summary_length * 2 : summary_length)
              ) + "..."}
        </p>
          </a>
        )}
      </div>
    ))
  }
</div>
