---
import { Image } from "astro:assets";
import config from "@config/config.json";
import { getSinglePage } from "@lib/contentParser.astro";
//import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi/index.js";

const authors = await getSinglePage("authors");
const { summary_length } = config.settings;

interface Props {
  className?: string;
  posts: any;
  fluid?: boolean;
}

const { className, posts, fluid } = Astro.props;
---

<div
  class="columns-1 sm:columns-2 md:columns-3"
>
  {
    posts.map((post: any, i: number) => (
      <div class="inline-block py-2">
        {post.data.image && (
          <a
            href={`${import.meta.env.BASE_URL}${post.slug}`}
            class="group sm:rounded-md"
          >
            <div class="overflow-hidden rounded-lg">
            <Image
              class="h-auto max-w-full transition duration-300 group-hover:scale-[1.05] object-cover"
              src={post.data.image}
              alt={post.data.title}
              width="400"
            />
            </div>
            <h5 class="font-normal text-base text-center py-2 group-hover:text-primary">{post.data.title}</h5>
          </a>
        )}
      </div>
    ))
  }
</div>
